body{
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.spacer {
    height: 60px;
    clear: both;
}

.quotes-head {
    margin: 40px 0px 20px;
}
